.promo {
	display: flex;
	position: relative;
	min-height: 560px;  
}

.promo__logo {
   position: absolute;
	right: 70px;
	bottom: 73px;
   background-image: url('../../images/landing-logo.svg');
   width: 722px;
   height: 244px;
}

.promo__title {    
	position: absolute;
	left: 70px;
	top: 50px;
   font-weight: 400;
	font-size: 40px;
	line-height: 52px;
   letter-spacing: -0.04em;  
	max-width: 626px; 
	margin: 0;
}

.promo__container {
   background-color: #DDDEE3;    
}

@media screen and (max-width: 768px) { 
   .promo {
      height: 100%;
      padding: 286px 0 0 0;
   }

	.promo__logo {
		right: 44px;
		bottom: 73px;
		width: 680px;
		height: 230px;
		background-size: contain;
	}
	
	.promo__title {   
		top: 300px;
		text-align: center;
	}
}

@media screen and (max-width: 525px) { 

   .promo__title {
		left: calc(50% - 150px);
      margin: 0px 0px;
   }

   .promo__logo {
		right: calc(50% - 160px);;
   }
}

@media screen and (max-width: 320px) { 
   .promo {
      height: 100%;
      padding: 0px 0 70px 0;
   }

   .promo__title {
		left: 0px;
		top: 180px;
      width: 300px;
      height: 117px;
		font-size: 31px;
      line-height: 39px;
      margin: 0px 10px;
   }

   .promo__logo {
		right: 0px;
		bottom: 40px;
      width: 320px;
      height: 230px;
      background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
   }
}