.header {
	display: flex;
	min-height: 74px;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
}

.header__background-color {
	background-color: #DDDEE3;
}

.header__logo {
	display: flex;
	height: 36px;
	width: 36px;
	padding: 18px 0 0 70px;
}

.header__container {
	display: flex;
	max-height: 32px;
	align-items: flex-end;
	justify-content: space-between;
	margin: 21px 70px 0 0;
}

.header__authorization {
	display: flex;
	align-items: center;
	margin: 0;
	padding-top: 21px;
}

.header__signup {
	padding-right: 30px;
	font-weight: 500;
	font-size: 12px;
	color: black;
	text-decoration: none;
}

.header__signup:hover, .header__signin:hover {
	opacity: 0.8;
}

.header__signin {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	font-size: 12px;    
	text-decoration: none;
	width: 76px;
	height: 32px;
	color: white;
	background-color: #3456F3;
	border-radius: 3px;
}

.header__text {
	font-size: 24px;
	font-weight: 500;
	margin: 40px 0 0 0;
	padding: 0;
}

.header__nav {
	display: flex;
	gap: 16px;
	white-space: nowrap;
	align-items: center;
	max-width: 212px;
	margin: auto 60px auto 0;
}

.header__nav-link {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	margin-right: 16px;
}

.header__nav-link:last-child {
	margin-right: 0;
}

.header__nav-link-active {
	font-weight: 600;
}

.header__account {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 32px;
	background: #F4F4F4;
	border-radius: 20px;
	cursor: pointer;
}

.header__account-name {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	line-height: 12px;
	font-weight: 500;
	margin: 0 7px 0 11px;
}

.header__burger-menu {
	display: none;
}

@media screen and (max-width: 768px) { 
	.header__logo {
		padding: 18px 0 0 30px;
	}

	.header__container {
		margin: 21px 30px 0 0;
	}

	.header__account {
		display: none;
	}

	.header__nav {
		display: none;
	}

	.header__burger-menu {
		display: flex;
		width: 40px;
		height: 43px;
		border: none;
		cursor: pointer;
		background: url('../../images/burger-menu.svg') no-repeat center;
		margin: 15px 30px 15px 0;
		padding: 0;
	}

	.header__burger-menu:hover {
		opacity: 0.8;
	}

}

@media screen and (max-width: 500px) { 
	.header__logo {
		padding: 18px 0 0 14px;
	}

	.header__container {
		margin: 21px 30px 0 0;
	}

	.header__burger-menu {
		margin: 15px 16px 15px 0;
	}

	.header__account {
		display: none;
	}

	.header__nav {
		display: none;
	}
}