.register__container {
	display: flex;
	flex-direction: column;
	max-width: 396px;
	margin: 0 auto;
}
	
.register__heading {
	font-size: 24px;
	font-weight: 500;
	margin: 74px 0 123px 0;
}
	
.register__form-label {
	font-size: 10px;
	color: #a0a0a0;
	margin: 20px 0 10px 0;
}
	
.register__form-field {
	background-color: #F4F4F4;
	border: none;
	border-radius: 8px;
	width: 100%;
	min-height: 46px;
	box-sizing: border-box;
	padding: 15px;
}

.register__form-button {
	display: block;
	width: 100%;
	height: 45px;
	background-color: #3456f3;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	margin-top: 91px;
}

.register__form-button:hover {
	opacity: 0.8;
	cursor: pointer;
}
	
.register__info {
	display: flex;
	align-items: center;
	justify-content: center;
}
	
.register__info-text {
	color: #a0a0a0;
	font-size: 14px;
}
	
.register__info-link {
	color: #3456f3;
	font-size: 14px;
	text-decoration: none;
	margin-left: 6px;
}

.register__info-link:hover {
	opacity: 0.8;
	cursor: pointer;
}

.register__form-error {
	max-width: 396px;
	height: 12px;
	padding-bottom: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 12px;
	color: #EE3465;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.register__header_logo {
	display: flex;
	height: 36px;
	width: 36px;
	padding: 18px 0 0 70px;
}

.register__header_logo-auth {
	padding-left: 0; 
}

.register__header_container {
	display: flex;
	max-height: 32px;
	align-items: flex-end;
	justify-content: space-between;
	margin: 21px 70px 0 0;
}

.register__header_container_auth {
	flex-direction: column;
	align-items: flex-start;
	max-width: 396px;
	margin: 0 auto;
	padding: 70px 0 40px 0;
	box-sizing: border-box;
	width: 100%;
	max-height: 217px;
}

.register__header_text {
	font-size: 24px;
	font-weight: 500;
	margin: 40px 0 0 0;
	padding: 0;
}

@media screen and (max-width: 768px) { 
	.register__header_logo {
		padding: 18px 0 0 30px;
	}

	.register__header_container {
		margin: 21px 30px 0 0;
	}

	.register__header_container_auth {

		margin: 162px 0 0 186px;
	}

}

@media screen and (max-width: 500px) { 
	.register__header_logo {
		padding: 18px 0 0 14px;
	}

	.register__header_container {
		margin: 21px 30px 0 0;
	}

	.register__header_container_auth {
		justify-content: center;
		align-items: center;
		margin: 56px 30px 0 30px;
		padding: 0 0 80px 0;
	}
}

@media screen and (max-width: 480px) {
	.register__container {
		max-width: 260px;
	}

	.register__form-button {
		font-size: 12px;
		margin-top: 180px;
	}

	.register__info-text {
		font-size: 12px;
	}

	.register__info-link {
		font-size: 12px;
	}
}