.techs {
   background-color: #f5f5f5;
}

.techs__content {
	display: flex;
	flex-direction: column;
   max-width: 1280px;
   align-items: center;    
	margin: 0 auto;
}

.techs__header-text {
   max-width: 1140px;
   width: calc(100% - 70px*2);
   font-weight: 400;
   font-size: 22px;
   line-height: 27px;
   letter-spacing: -0.04em;
   border-bottom: 1px solid black;
	margin: 100px 0 0 0;
   padding-bottom: 23px;
}

.techs__title {
   font-size: 50px;
   font-weight: 400;
   line-height: 58px;
   letter-spacing: -0.04em;
	margin: 90px 0 0 0;
}

.techs__paragraph {
   max-width: 460px;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   letter-spacing: -0.04em;
	text-align: center;
	margin: 26px 0 0 0;
}

.techs__stacks {
   display: flex;
   justify-content: center;
   gap: 10px;
	margin: 100px 0;
	padding: 0;
}

.techs__element {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 90px;
   height: 60px;
   background-color: #e8e8e8;
   font-size: 14px;
   font-weight: 400;
   letter-spacing: -0.04em;
   border-radius: 10px;
}

@media screen and (max-width: 768px) {
   .techs__content {
      max-width: 768px;
   }

   .techs__header-text {
      margin: 90px 50px 0 50px;
   }

   .techs__title {
      margin: 80px 0 0 0;
   }

   .techs__paragraph {
      margin: 22px 0 0 0;
      font-size: 12px;
      line-height: 18px;
   }

   .techs__stacks {
      margin: 83px 0 90px 0;
   }

   .techs {
      background-color: #FAFAFA;
   }

   .techs__element {
      width: 84px;
      height: 57px;
      font-size: 12px;
   }
}

@media screen and (max-width: 767px) {
   .techs__content {
      max-width: 767px;
   }

   .techs__header-text {
      max-width: 767px;
		margin: 70px 18px 0 18px;
   }

   .techs__title {
      margin: 60px 0 0 0;
      font-size: 30px;
   }

   .techs__paragraph {
      margin: 24px 14px 0 14px;
      font-size: 11px;
      line-height: 16px;
   }

   .techs__stacks {
      margin: 50px 0 70px 0;
      display: grid;
      grid-template-columns: 84px 84px;
   }

   .techs__element {
      width: 84px;
      height: 57px;
      font-size: 12px;
   }

   .techs {
      background-color: #FAFAFA;
   }
}